DAPmodel/__pycache__/
DAPmodel.egg-info/

DAPmodel/dap_cython_be.c
DAPmodel/dap_cython.c
DAPmodel/dap_cython.cpython-36m-x86_64-linux-gnu.so
DAPmodel/dap_cython_be.cpython-36m-x86_64-linux-gnu.so


dist/
other/
build/
__pycache__/

.ipynb_checkpoints/
.ropeproject/
